<div class='row'>
  <div class='col-12-sm' id='resumeTitle'>
    <h2>Resume</h2>
  </div>
</div>

<div class='row'>
  <div class='col-sm-6'>
    <h3>Summary</h3>
    <p>Currently transitioning into a programming career from 7 years of experience
    working in the healthcare industry. I bring to the table skills from both direct care
    and supervisor experience include treatment plan problem solving, conflict
    resolution, employee development training, and crisis management. Finishing the
    PHP/JavaScript/Drupal track I continue to have a thirst for knowledge, eager to
    begin a career and learn new technologies or deepen my understanding of the ones
    I am now learning.</p>
    <h3>Experience</h3>
    <p><strong>Cascadia Behavioral Healthcare</strong> - <em>(various positions, 2009 - 2016)
    Secure Residential Counselor, Secure Supervisor, Treatment Specialist</em></p>
    <p>Worked primarily in the secure residential facilities with adults that suffered from
    treatment resistant schizophrenia, committed by state or legal guardianship.</p>
    <ul>
      <li><em>Communication skills</em> – As supervisor and team lead, maintained
      respect for others while clearly and effectively communicating expectations
      to maintain a fluid, productive, and safe work environment.</li>
      <li><em>Comfortable with stress</em> – Worked in environment that was at times
      unsafe, during crisis scenarios, kept situation under control with effective
      communication, remaining calm and relying on training.</li>
      <li><em>Problem solving</em> – worked both independently and as a team to resolve
      treatment, staffing, and programmatic problems that arose in creative and
      often unfamiliar ways.</li>
      <li><em>Learning, teaching, and training</em> – maintained various trainings, taught
      staff electronic medical records (EMR) as company shifted to digital work
      flow.</li>
      <li><em>Flexibility and diverse roles</em> – ability to change responsibilities at will or as
      needed, leading groups, training staff, and providing staff development</li>
    </ul>
  </div>
  <div class='col-sm-6'>
  </div>
</div>
