<nav class='navbar navbar-toggleable-md'>
  <a class="navbar-brand" routerLink=''>Philip Putnam</a>
  <span class='navbar-text'>
    <a class="nav-item nav-link" routerLink=''>Home</a>
  </span>
  <span class='navbar-text'>
    <a class='nav-item nav-link' routerLink='about'>About</a>
  </span>
  <span class='navbar-text'>
    <a class='nav-item nav-link' routerLink='blog'>Blog</a>
  </span>
</nav>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink=''>Philip Putnam</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=''>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='about'>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='blog'>Blog</a>
      </li>
    </ul>
  </div>
</nav>
