<nav class='navbar navbar-toggleable-sm navbar-inverse bg-inverse'>
  <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarNavigation' aria-controls='navbarNavigation' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <a class="navbar-brand" routerLink=''>Philip Putnam</a>

  <div class='collapse navbar-collapse' id='navbarNavigation'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <span class='navbar-text'>
          <a class="nav-item nav-link" routerLink=''>Home</a>
        </span>
      </li>
      <li class='nav-item'>
        <span class='navbar-text'>
          <a class='nav-item nav-link' routerLink='about'>About</a>
        </span>
      </li>
      <li class='nav-item'>
        <span class='navbar-text'>
          <a class='nav-item nav-link' routerLink='blog'>Blog</a>
        </span>
      </li>
    </ul>
  </div>
</nav>
